a {
    color: white;
}


.header
{
    display: flex;
    border: solid 5px;
    border-color: Black;
    gap: 30px 30px;
    height: auto;
    flex-flow: row wrap;
    flex: 1;
    width: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around
}

.about
{
    background-color:#e30303;
    padding: 20px;

}
.home 
{
    background-color: #ff8b00;
    padding: 20px;
}
.Contacts
{
    background-color: #feed00;
    padding: 20px;
}
.C2
{
    background-color:#008026;
    color: aliceblue;
    padding: 20px;
}
.C3
{
    background-color: #004dff;
    padding: 20px;
}
.C4 
{
    background-color: #750686;
    padding: 20px;
}